<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kovalenko UwU, {{myname}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list>
  <ion-item *ngFor="let el of mylist">
    <ion-label>{{el}}</ion-label>
  </ion-item>
</ion-list>
<ion-button (click)="mybtn()">Кнопка</ion-button>
<ion-input label="Default input" [(ngModel)]="myname"></ion-input>
<ion-grid>
  <ion-row *ngFor="let el of myBooks">
    <ion-col>{{ el.book_name }}</ion-col>
    <ion-col>{{ el.book_author }}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
